---
http_interactions:
- request:
    method: post
    uri: https://www.strava.com/oauth/token?client_id=fake&client_secret=fake&grant_type=refresh_token&refresh_token=valid-refresh-token
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Status:
      - 200 OK
      Etag:
      - W/"432f1af431fb6d9b228764eaf2a7d6b5"
    body:
      encoding: ASCII-8BIT
      string: '{"token_type":"Bearer","access_token":"fake-new-access-token","expires_at":1540450800,"refresh_token":"fake-new-refresh-token"}'
  recorded_at: Thu, 25 Oct 2018 01:00:00 GMT
recorded_with: VCR 3.0.3
