---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/activities/122027191
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer faket0k3n
  response:
    status:
      code: 429
      message: Too Many Requests
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 429 Too Many Requests
      X-Ratelimit-Limit:
      - '600,30000'
      X-Ratelimit-Usage:
      - '1341,34055'
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Rate Limit Exceeded","errors":[{"resource":"Application","field":"rate
        limit","code":"exceeded"}]}'
  recorded_at: Tue, 18 May 2021 13:26:54 GMT
recorded_with: VCR 3.0.3
