---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/activities/10707546
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer invalid-token
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Status:
      - 401 Unauthorized
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Authorization Error","errors":[{"resource":"Application","field":"","code":"invalid"}]}'
  recorded_at: Fri, 23 Feb 2018 02:00:11 GMT
recorded_with: VCR 3.0.3
