---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/activities/122027191
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer faket0k3n
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - '"72a0f4753aef5406ceadee94c844a4c1"'
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '600,30000'
      X-Ratelimit-Usage:
      - '2,87'
    body:
      encoding: ASCII-8BIT
      string: '{"resource_state":3,"athlete":{"id":4197670,"resource_state":1},"name":"New activity name"
        ,"distance":3234.2,"moving_time":1029,"elapsed_time":1029,"total_elevation_gain":0.0,"type":"Run","workout_type":null,"id":122027191,"external_id":"42352241.fit","upload_id":133594722,"start_date":"2014-02-03T10:22:41Z","start_date_local":"2014-02-03T05:22:41Z","timezone":"(GMT-05:00)
        America/New_York","utc_offset":-18000.0,"start_latlng":[42.35,-71.13],"end_latlng":[42.35,-71.12],"location_city":"Boston","location_state":"MA","location_country":"United
        States","start_latitude":42.35,"start_longitude":-71.13,"achievement_count":0,"kudos_count":0,"comment_count":0,"athlete_count":1,"photo_count":0,"map":{"id":"a122027191","polyline":"aeoaGtpcqLJr@DL`BDTNItBQlBEpAd@RhAQ|Cy@d@Id@Q`Ak@f@a@f@?Za@b@QPWWaBOs@^s@Lm@HuCCo@g@mEe@aBYk@AUZe@JK?Qt@gARi@Rw@Jq@To@t@oE\\?d@Pb@JBAZe@dAoG?o@Fs@CiBJ{@`@Sf@GXMd@u@BMJs@?UG{AHiC?gABaAb@Kv@HtB@rCZnAHd@LhALz@Nv@T^Hl@{A\\g@`Ai@X]Om@QcAAEUMe@Ae@?IKa@EmBGkAc@c@Ii@Dg@@cEa@mBCoA[iAKc@De@?c@CoAa@c@Eg@AmASmAIcCg@WKEJEb@","resource_state":3,"summary_polyline":"aeoaGtpcqLhCvABhIdOiF`@eLmBaL|E_PfCItAyOlCmBPyLxTpBfDkEy@eCam@yE"},"trainer":false,"commute":false,"manual":false,"private":false,"flagged":false,"gear_id":"g320572","from_accepted_tag":false,"average_speed":3.143,"max_speed":3.6,"has_heartrate":false,"elev_high":17.6,"elev_low":7.7,"pr_count":0,"total_photo_count":0,"has_kudoed":false,"description":"","calories":343.6,"segment_efforts":[],"splits_metric":[{"distance":1016.7,"elapsed_time":320,"elevation_difference":2.4,"moving_time":320,"split":1,"average_speed":3.18,"pace_zone":2},{"distance":1003.5,"elapsed_time":316,"elevation_difference":4.7,"moving_time":316,"split":2,"average_speed":3.18,"pace_zone":2},{"distance":996.0,"elapsed_time":326,"elevation_difference":-3.8,"moving_time":326,"split":3,"average_speed":3.06,"pace_zone":2},{"distance":219.1,"elapsed_time":67,"elevation_difference":-2.0,"moving_time":67,"split":4,"average_speed":3.27,"pace_zone":2}],"splits_standard":[{"distance":1611.3,"elapsed_time":508,"elevation_difference":5.5,"moving_time":508,"split":1,"average_speed":3.17,"pace_zone":2},{"distance":1609.2,"elapsed_time":517,"elevation_difference":-4.6,"moving_time":517,"split":2,"average_speed":3.11,"pace_zone":2},{"distance":14.8,"elapsed_time":4,"elevation_difference":0.4,"moving_time":4,"split":3,"average_speed":3.7,"pace_zone":3}],"laps":[{"id":482199153,"resource_state":2,"name":"Lap
        1","activity":{"id":122027191,"resource_state":1},"athlete":{"id":4197670,"resource_state":1},"elapsed_time":507,"moving_time":507,"start_date":"2014-02-03T10:22:41Z","start_date_local":"2014-02-03T05:22:41Z","distance":1609.35,"start_index":0,"end_index":86,"total_elevation_gain":0.0,"average_speed":3.17,"max_speed":3.6,"lap_index":1,"split":1,"pace_zone":2},{"id":482199154,"resource_state":2,"name":"Lap
        2","activity":{"id":122027191,"resource_state":1},"athlete":{"id":4197670,"resource_state":1},"elapsed_time":517,"moving_time":517,"start_date":"2014-02-03T10:31:16Z","start_date_local":"2014-02-03T05:31:16Z","distance":1609.35,"start_index":87,"end_index":171,"total_elevation_gain":0.0,"average_speed":3.11,"max_speed":3.6,"lap_index":2,"split":2,"pace_zone":2},{"id":482199155,"resource_state":2,"name":"Lap
        3","activity":{"id":122027191,"resource_state":1},"athlete":{"id":4197670,"resource_state":1},"elapsed_time":3,"moving_time":3,"start_date":"2014-02-03T10:39:48Z","start_date_local":"2014-02-03T05:39:48Z","distance":16.59,"start_index":172,"end_index":173,"total_elevation_gain":0.0,"average_speed":5.53,"max_speed":3.6,"lap_index":3,"split":3,"pace_zone":6}],"best_efforts":[{"id":526624752,"resource_state":2,"name":"400m","activity":{"id":122027191,"resource_state":1},"athlete":{"id":4197670,"resource_state":1},"elapsed_time":121,"moving_time":122,"start_date":"2014-02-03T10:26:41Z","start_date_local":"2014-02-03T05:26:41Z","distance":400,"start_index":39,"end_index":60,"pr_rank":null,"achievements":[]},{"id":526624753,"resource_state":2,"name":"1/2
        mile","activity":{"id":122027191,"resource_state":1},"athlete":{"id":4197670,"resource_state":1},"elapsed_time":249,"moving_time":251,"start_date":"2014-02-03T10:24:25Z","start_date_local":"2014-02-03T05:24:25Z","distance":805,"start_index":17,"end_index":59,"pr_rank":null,"achievements":[]},{"id":526624754,"resource_state":2,"name":"1k","activity":{"id":122027191,"resource_state":1},"athlete":{"id":4197670,"resource_state":1},"elapsed_time":312,"moving_time":313,"start_date":"2014-02-03T10:23:23Z","start_date_local":"2014-02-03T05:23:23Z","distance":1000,"start_index":8,"end_index":59,"pr_rank":null,"achievements":[]},{"id":526624755,"resource_state":2,"name":"1
        mile","activity":{"id":122027191,"resource_state":1},"athlete":{"id":4197670,"resource_state":1},"elapsed_time":503,"moving_time":504,"start_date":"2014-02-03T10:24:46Z","start_date_local":"2014-02-03T05:24:46Z","distance":1609,"start_index":20,"end_index":107,"pr_rank":null,"achievements":[]},{"id":526624756,"resource_state":2,"name":"2
        mile","activity":{"id":122027191,"resource_state":1},"athlete":{"id":4197670,"resource_state":1},"elapsed_time":1024,"moving_time":1025,"start_date":"2014-02-03T10:22:41Z","start_date_local":"2014-02-03T05:22:41Z","distance":3219,"start_index":0,"end_index":171,"pr_rank":null,"achievements":[]}],"gear":{"id":"g320572","primary":false,"name":"Brooks
        Transcend","resource_state":2,"distance":789349.0},"partner_brand_tag":null,"photos":{"primary":null,"count":0},"similar_activities":{"effort_count":6,"average_speed":3.1958986928104576,"min_average_speed":2.9382960413080896,"mid_average_speed":3.12677752397054,"max_average_speed":3.341097308488613,"pr_rank":3,"frequency_milestone":3,"trend":{"speeds":[3.341097308488613,3.3399582039016624,3.2716374104631174,3.265807611604374,3.235805693599558],"current_activity_index":2,"min_speed":2.9382960413080896,"mid_speed":3.12677752397054,"max_speed":3.341097308488613,"direction":0},"resource_state":2},"highlighted_kudosers":[],"device_name":"Garmin
        Forerunner 10","embed_token":"57c2f29c920f17da836bba93e60bc3fcb4b91ee1","segment_leaderboard_opt_out":false,"leaderboard_opt_out":false}'
  recorded_at: Sat, 24 Mar 2018 18:42:14 GMT
recorded_with: VCR 3.0.3
