---
http_interactions:
- request:
    method: post
    uri: https://www.strava.com/oauth/token?client_id=fake&client_secret=fake&code=abc123&grant_type=authorization_code
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Status:
      - 400 Bad Request
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Bad Request","errors":[{"resource":"RequestToken","field":"code","code":"invalid"}]}'
  recorded_at: Sat, 20 Oct 2018 23:39:40 GMT
recorded_with: VCR 3.0.3
