---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/athlete/activities?after=1507359600&before=1507964400&page=1&per_page=200
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer invalid-token
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Status:
      - 401 Unauthorized
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Authorization Error","errors":[{"resource":"Athlete","field":"access_token","code":"invalid"}]}'
  recorded_at: Sat, 14 Oct 2017 07:00:00 GMT
recorded_with: VCR 3.0.3
