---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/activities/1348598020
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer faket0k3n
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - '"cfa7649b449521884e6d686a8411a0d5"'
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '600,30000'
      X-Ratelimit-Usage:
      - '2,2'
    body:
      encoding: ASCII-8BIT
      string: '{"id":1348598020,"resource_state":3,"external_id":"garmin_push_2424095948","upload_id":1457240628,"athlete":{"id":4197670,"resource_state":1},"name":"New activity name",
        "distance":11319.3,"moving_time":3261,"elapsed_time":3264,"total_elevation_gain":40.3,"type":"Run","start_date":"2018-01-09T14:47:32Z","start_date_local":"2018-01-09T06:47:32Z","timezone":"(GMT-08:00)
        America/Los_Angeles","utc_offset":-28800.0,"start_latlng":[32.72,-117.16],"end_latlng":[32.72,-117.16],"location_city":null,"location_state":null,"location_country":"United
        States","start_latitude":32.72,"start_longitude":-117.16,"achievement_count":8,"kudos_count":5,"comment_count":1,"athlete_count":1,"photo_count":0,"map":{"id":"a1348598020","polyline":"{aufEdeajUBQHGr@CZGRBJCAA@OBENEl@Cd@?^FdAQDQ@a@BQCW?YFGLGH?n@Mz@Gf@Bd@FZ?LEPMDKH??I?@B?DGjAVFBNAXD`@LhAF^Mx@@`ANJCCCRK|@Pn@@e@[AEd@Av@MRD`@EbBLPI?C@CNIL?^BZFXJVBl@Af@IX?XBp@@dAFFE\\KVSAQX_@JGLA~Ab@b@RVFT@PFPLLVD@PBZCRDZN\\`@PLZr@`@b@\\Xd@XXV|@zAFNBTE\\HTJFHNRvAT`@^\\PDFFZBTJn@Pb@Pp@`@FF@HATKZaCfESVg@`AkAfB}AzCe@n@_BpCKX?JvAz@VVPJb@HPAFGjCyENOTEZRZ\\z@n@dAdAHLBNCXi@~@cBlCy@v@i@fAs@v@GPMh@OTML_@TKDK?SGKKEO?QRu@JmA~@aBDUAMIO[UgB}AgAuAOGYCK@GHk@z@uCdF{A~BeBzCwAtB]t@CJ?XBbAAl@BtA@rB@\\JVNP`@VXZRHX?`@SPEZ?NEd@g@\\INMXk@`D_FBMDk@COMWEGICQ@UHURKRIf@Yr@OP]NMLeAdBs@`AQFc@HeB@YBIBAFZdA@TANOZEPBnA?dAA^Ih@MZ[^wAnA]Pq@NwBp@sAf@gCr@{@\\o@d@aA^u@Ta@Fo@@w@IuB?W@c@Le@FUEk@MKHm@Fm@N_AMw@Be@Gc@Bg@CYB_@?m@Ao@@UC_ADs@Ie@AUGW@WEg@?GCkAGs@CaA?OCaA@c@LK@k@?i@Cw@HcBJe@@GAk@BSCY@_BGs@AoAOuBG_BNoBXSFgBr@WROT_@VULYD]R[^[VOTOf@e@t@GHULSNIVU^IpAShAOZGZObB?\\F\\?fAI`Al@xE@`@PtACd@Gn@Qz@Ct@E\\YdAW|Aa@xAG`AEXo@xAO~@Wz@Gv@@e@^_BL_AFUL[Jc@@o@D]H]Pc@Ry@LiATuAHaAPcA@wAIw@QkAYuCAe@Lm@@_@?u@I]?M@WVcBTk@Hk@Jk@?WFm@NWLc@HOh@i@Zi@HSF[JS~@eAVMLAVMn@e@Za@hAq@j@Sf@Kn@Gp@WRa@Km@KOm@sBGo@Os@Se@SgAMe@Gc@GQCY?MES]oABMP[\\_@n@[J?FKBWHCFMNaABUAQCCUEK@GACKSgBCMGGKa@Gy@Ka@II?OHYD]LYl@STGpCURI\\CREb@q@Ba@?y@^y@Aw@Cg@JMb@?h@ENGd@?ZD^G`BIl@Kn@?h@HZAx@Ft@@LEBo@EmA@UBCZC\\F\\Ap@S^]PABCDSJwB@C\\CCg@EU?SE_A?EDO?MOiB@k@CQHa@B[Ii@@_AHGXKzAAZC\\M","resource_state":3,"summary_polyline":"{aufEdeajUbSsG`c@VnBaBjHvBdH~HnAjFzFrCgO~XvDfBxDwFbE~EqK`Oe@u@bBiGsGyEyNhVD~JdBfBxB]tGmI_AaB{FzI_EZC`K_D|CkS~GidAUaNnEoEjGu@rEj@`TeFfXhEkWo@gQlAeIjEiH|KyFkEkR`DsFmBuJhH_BlAuHbQY?sC~Du@t@wCUeOxDg@"},"trainer":false,"commute":false,"manual":false,"private":false,"flagged":false,"gear_id":"g2712607","from_accepted_tag":false,"average_speed":3.471,"max_speed":8.9,"average_cadence":80.4,"has_heartrate":true,"average_heartrate":156.9,"max_heartrate":177.0,"elev_high":26.1,"elev_low":1.5,"pr_count":6,"total_photo_count":0,"has_kudoed":false,"workout_type":null,"description":"","calories":1144.5,"segment_efforts":[{"id":33444349637,"resource_state":2,"name":"Over
        the Bridge","activity":{"id":1348598020,"resource_state":1},"athlete":{"id":4197670,"resource_state":1},"elapsed_time":77,"moving_time":77,"start_date":"2018-01-09T14:54:54Z","start_date_local":"2018-01-09T06:54:54Z","distance":215.4,"start_index":438,"end_index":515,"average_cadence":78.7,"average_heartrate":138.9,"max_heartrate":144.0,"segment":{"id":11504742,"resource_state":2,"name":"Over
        the Bridge","activity_type":"Run","distance":201.3,"average_grade":-0.3,"maximum_grade":3.7,"elevation_high":3.9,"elevation_low":2.8,"start_latlng":[32.705527,-117.156558],"end_latlng":[32.704469,-117.158282],"start_latitude":32.705527,"start_longitude":-117.156558,"end_latitude":32.704469,"end_longitude":-117.158282,"climb_category":0,"city":"San
        Diego","state":"California","country":"United States","private":false,"hazardous":false,"starred":false},"kom_rank":null,"pr_rank":null,"achievements":[],"hidden":false},{"id":33444349664,"resource_state":2,"name":"Bridge
        Bay","activity":{"id":1348598020,"resource_state":1},"athlete":{"id":4197670,"resource_state":1},"elapsed_time":98,"moving_time":98,"start_date":"2018-01-09T14:55:31Z","start_date_local":"2018-01-09T06:55:31Z","distance":328.9,"start_index":475,"end_index":573,"average_cadence":80.9,"average_heartrate":146.6,"max_heartrate":159.0,"segment":{"id":4379771,"resource_state":2,"name":"Bridge
        Bay","activity_type":"Run","distance":309.7,"average_grade":-0.3,"maximum_grade":3.1,"elevation_high":3.9,"elevation_low":2.7,"start_latlng":[32.704862,-117.157334],"end_latlng":[32.703231,-117.159669],"start_latitude":32.704862,"start_longitude":-117.157334,"end_latitude":32.703231,"end_longitude":-117.159669,"climb_category":0,"city":"San
        Diego","state":"CA","country":"United States","private":false,"hazardous":false,"starred":false},"kom_rank":null,"pr_rank":3,"achievements":[{"type_id":3,"type":"pr","rank":3}],"hidden":false},{"id":33444349672,"resource_state":2,"name":"Super
        Yacht Row","activity":{"id":1348598020,"resource_state":1},"athlete":{"id":4197670,"resource_state":1},"elapsed_time":107,"moving_time":107,"start_date":"2018-01-09T14:57:12Z","start_date_local":"2018-01-09T06:57:12Z","distance":392.6,"start_index":576,"end_index":683,"average_cadence":80.9,"average_heartrate":150.3,"max_heartrate":157.0,"segment":{"id":2770065,"resource_state":2,"name":"Super
        Yacht Row","acti[...]
