---
http_interactions:
- request:
    method: post
    uri: https://www.strava.com/oauth/token?client_id=fake&client_secret=fake&grant_type=refresh_token&refresh_token=invalid-refresh-token
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Status:
      - 400 Bad Request
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Bad Request","errors":[{"resource":"RefreshToken","field":"refresh_token","code":"invalid"}]}'
  recorded_at: Thu, 25 Oct 2018 01:00:00 GMT
recorded_with: VCR 3.0.3
