---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/athlete/activities?after=1507359600&before=1507964400
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 00accesstoken00
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - '"6218d30f164b225b255f3f62ec565fff"'
      Status:
      - 200 OK
      Strava-Athlete-Upload-Version:
      - 185730941fa2825775ab4f6bb7db7e15
      X-Ratelimit-Limit:
      - '600,30000'
      X-Ratelimit-Usage:
      - '13,46'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":1228328056,"resource_state":2,"external_id":"garmin_push_2100581086","upload_id":1334534425,"athlete":{"id":4197670,"resource_state":1},"name":"Warmup
        for hockey night in San Diego #letsgogulls #protectthenest","distance":33573.3,"moving_time":10487,"elapsed_time":10856,"total_elevation_gain":189.5,"type":"Run","start_date":"2017-10-13T12:20:55Z","start_date_local":"2017-10-13T05:20:55Z","timezone":"(GMT-08:00)
        America/Los_Angeles","utc_offset":-25200.0,"start_latlng":[32.72,-117.16],"end_latlng":[32.72,-117.16],"location_city":null,"location_state":null,"location_country":"United
        States","start_latitude":32.72,"start_longitude":-117.16,"achievement_count":12,"kudos_count":3,"comment_count":0,"athlete_count":1,"photo_count":0,"map":{"id":"a1228328056","summary_polyline":"cbufEzcajUaC~M|AHoAfEd@~HsEjCp@dEy@|\\kCt@yAoB_CdEmHeCiMpB}C|AZxCuV|FiZ~Lii@he@yS|i@mH}BuMj_@}]bQiTh`@~ApKzVpU}H~Q_MhhAq^lp@|@yBd@nRlChR_@~HiDPwA}CgLjB{MfVv@~OwEXu@_BoBlA_CaC|@TuZ`e@gGrQm]zLe^mBu\\bH{IKgJsM}Dg@pFt]xw@_Jxx@yAu@aUxAoH`_@ol@k@ShBdBpBaAxC`ChB]eA}OjNqWlLwAxApChD@{Cso@}@bCf^}p@`MkhArHsP_@eC_VoQeAwJiFiEfa@{w@qBuDvAyGBkj@zBkFm@uh@XiDdJ]Ky^pCiGBoZ~{Ak@JaDlLw@pt@IiBiJf@{C|RC","resource_state":2},"trainer":false,"commute":false,"manual":false,"private":false,"flagged":false,"gear_id":"g2445554","from_accepted_tag":false,"average_speed":3.201,"max_speed":12.5,"average_cadence":78.6,"has_heartrate":true,"average_heartrate":156.9,"max_heartrate":185.0,"elev_high":91.0,"elev_low":1.3,"pr_count":1,"total_photo_count":0,"has_kudoed":false,"workout_type":null},{"id":1226325249,"resource_state":2,"external_id":"garmin_push_2091240159","upload_id":1332506460,"athlete":{"id":4197670,"resource_state":1},"name":"SD
        Fun Run","distance":6094.4,"moving_time":2138,"elapsed_time":2278,"total_elevation_gain":24.0,"type":"Run","start_date":"2017-10-12T02:06:46Z","start_date_local":"2017-10-11T19:06:46Z","timezone":"(GMT-08:00)
        America/Los_Angeles","utc_offset":-25200.0,"start_latlng":[32.71,-117.16],"end_latlng":[32.71,-117.16],"location_cit[...]
