---
http_interactions:
- request:
    method: post
    uri: https://www.strava.com/oauth/token?client_id=fake&client_secret=fake&code=abc123&grant_type=authorization_code
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Status:
      - 200 OK
      Etag:
      - W/"12b65315b63eab262c8058864b56eaf3"
    body:
      encoding: ASCII-8BIT
      string: '{"token_type":"Bearer","expires_at":1540098000,"refresh_token":"fakerefreshtoken","access_token":"fakeaccesstoken","athlete":{"id":4197670,"username":"nickholden","resource_state":2,"firstname":"Nick","lastname":"Holden","city":"San
        Diego","state":"California","country":"United States","sex":"M","premium":false,"summit":false,"created_at":"2014-03-19T11:46:35Z","updated_at":"2018-01-18T16:39:01Z","badge_type_id":0,"profile_medium":"https://dgalywyr863hv.cloudfront.net/pictures/athletes/4197670/1346139/6/medium.jpg","profile":"https://dgalywyr863hv.cloudfront.net/pictures/athletes/4197670/1346139/6/large.jpg","friend":null,"follower":null,"email":"nick.r.holden@gmail.com"}}'
  recorded_at: Sat, 20 Oct 2018 23:00:00 GMT
recorded_with: VCR 3.0.3
