.loading
  %h1 Loading your Strava data...

  %p
    We&rsquo;re crunching your numbers right now, and in less than
    a minute, we&rsquo;ll tell you all about your Monday finishes.

  %loading-video{'redirect-path' => authenticated? ? user_profile_path(current_user.slug) : root_path}
