.summary
  .content
    .stat-group
      .heading Streak
      .primary-stat-container
        .stat.stat__primary 10
        .stat-label.stat-label__primary activities
    .stat-group
      .heading In 2017
      .ytd-stats
        .secondary-stats
          .secondary-stat-container
            .stat.stat__secondary 1015.5
            .stat-label.stat-label__secondary miles
          .secondary-stat-container
            .stat.stat__secondary 2014.3
            .stat-label.stat-label__secondary feet elev.
          .secondary-stat-container
            .stat.stat__secondary 30.5
            .stat-label.stat-label__secondary hours
        .primary-stat-container.primary-stat-container__ytd
          .stat.stat__primary 30
          .stat-label.stat-label__primary activities
