@import 'mixins/*';

body {
  margin: 0;
  font-family: $primary-fonts;
}

a {
  text-decoration: none;
  transition: color 0.1s linear;
  color: $red-light;

  &:active, &:focus, &:hover {
    color: $red-primary;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: $grey-dark;
  height: 48px;
  line-height: 48px;
  padding: 15px;

  .navigation {
    color: $grey-light;
  }
}

.flash-container {
  position: absolute;
  width: 100%;
  top: 20px;

  input {
    display: none;
  }

  input:checked + .flash{
    display: none;
  }

  .flash {
    margin: 0px auto;
    max-width: 500px;
    text-align: center;
    padding: 10px;
    border-radius: 5px;

    &__notice {
      background-color: $green;
    }

    &__error {
      background-color: $red-primary;
      color: $white;

      a {
        color: $grey-light;
      }

      a:hover {
        color: $white;
      }
    }

    a:hover {
      cursor: pointer;
    }
  }
}
