@import 'mixins/*';

.profile {
  .summary {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: $red-primary;
    padding: 40px 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0 auto;

    .user {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      max-width: 800px;
      padding: 15px 30px;

      .photo {
        margin: 0 10px;

        img {
          height: 124px;
          width: 124px;
          border-radius: 62px;
        }
      }

      .details {
        margin: 10px;
        text-align: center;

        .name {
          font-size: 40px;
          color: $white;
        }

        .location {
          font-size: 20px;
          color: $red-lightest;
        }
      }
    }

    .stats {
      max-width: 800px;
      padding: 15px 30px;

      .stat-group {
        margin: 40px auto;
      }

      .heading {
        margin-bottom: 15px;
        text-align: center;
        color: $red-lightest;
        font-size: 30px;
        font-weight: 600;
      }

      .primary-stat-container {
        margin: 0 auto;
      }

      .stat {
        color: $white;
        font-weight: 900;

        &__primary {
          text-align: center;
          font-size: 160px;
          line-height: 130px;
          padding: 10px 0;
          text-shadow: -4px 6px 0px $black;
        }
      }

      .stat-label {
        color: $red-lightest;

        &__primary {
          text-align: center;
        }
      }
    }
  }

  .activities {
    margin: 0 auto;
    max-width: 640px;
    padding: 15px;

    .year-selector {
      padding: 30px 0;
      text-align: center;
      font-size: 24px;

      select {
        font-size: inherit;
        font-family: inherit;
        color: $red-primary;
        background-color: $white;
        -webkit-appearance: none;
        border: 0;
        cursor: pointer;
      }
    }

    .result {
      .graph {
        .day {
          fill: $grey-light;
          transition: fill 0.1s linear;
          outline: none;

          &:hover, &--selected {
            fill: $red-lightest;
          }

          &--completed {
            fill: $green-medium;

            &:hover {
              fill: $green-dark;
              cursor: pointer;
            }

            &.day--selected {
              fill: $green-dark;
            }
          }
        }
      }

      .year-summary {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        margin: -4px -15px;
        padding-top: 15px;
        padding-bottom: 30px;

        .stat {
          padding: 4px 15px;
        }
      }

      .activity {
        padding: 30px 0;

        .name {
          color: $red-primary;
          font-size: 20px;
        }

        .map {
          padding: 10px 0;
        }

        .details {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: space-between;
          margin: -4px -15px;

          .detail {
            padding: 4px 15px;

            .strava-button {
              background-color: $strava-orange;
              color: $white;
              font-family: $strava-fonts;
              font-size: 12px;
              padding: 5px 10px;
              border-radius: 2px;
              transition: background-color 0.15s ease, border-color 0.15s ease, color 0.15s ease;

              &:hover {
                background-color: #c93d02;
              }
            }
          }
        }
      }
    }
  }

  .loader {
    text-align: center;
    padding: 30px 0;

    .loading-indicator {
      color: $red-light;

      span {
        margin-left: 4px;
      }
    }
  }
}
