.footer
  .email
    Questions or feedback?<br>
    = mail_to 'hello@mondaymiles.com'
  .strava-logo
    = image_tag('pwrdBy_strava_white/api_logo_pwrdBy_strava_stack_white.svg', alt: 'Powered by Strava', width: 130, height: 56)
